* {
    background:                     #24334Aff;
    background-alt:                 #29384Fff;
    foreground:                     #FEFFF1ff;
    border:               			#3A6081ff;
    border-alt:               		#715979ff;
    selected:               		#C46C854C;
    urgent:                         #DA4453FF;
}
