* {
    background:                     #413E4Aff;
    background-alt:                 #413E4Aff;
    foreground:                     #F7C7B2ff;
    border:               			#B38184ff;
    border-alt:               		#F3B69Eff;
    selected:               		#B381841a;
    urgent:                         #DA4453FF;
}
