* {
    background:                     #EFF0F1FF;
    background-alt:                 #E3E3E3FF;
    foreground:                     #000000A6;
    border:               			#000B83FF;
    border-alt:               		#3DAEE9FF;
    selected:               		#93CEE9FF;
    urgent:                         #DA4453FF;
}
