* {
    background:                     #3E4667ff;
    background-alt:                 #434C6Dff;
    foreground:                     #FAF7CCff;
    border:               			#CA8CA5ff;
    border-alt:               		#F0B2B3ff;
    selected:               		#EFD4B61a;
    urgent:                         #DA4453FF;
}
