/**
 *
 * Author : Axel Amores (xelser)
 * Github : @xelser
 *
 * Credits : Catppuccin Team (https://github.com/catppuccin)
 *
 * Colors
 **/

* {
    background:     #303446FF;
    background-alt: #414559FF;
    foreground:     #C6D0F5FF;
    selected:       #8CAAEEFF;
    active:         #A6D189FF;
    urgent:         #E78284FF;
}
