/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #F1F1F1FF;
    background-alt: #E0E0E0FF;
    foreground:     #252525FF;
    selected:       #008EC4FF;
    active:         #10A778FF;
    urgent:         #C30771FF;
}
