/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #1A1B26FF;
    background-alt: #24283BFF;
    foreground:     #C0CAF5FF;
    selected:       #7DCFFFFF;
    active:         #414868FF;
    urgent:         #F7768EFF;
}
