/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 *
 * Available Colors Schemes
 *
 * adapta        cyberpunk     lovelace    paper
 * arc           dracula       navy        solarized
 * black         everforest    nord        tokyonight
 * catppuccin    gruvbox       onedark     yousai
 *
 **/

/* Import color-scheme from `colors` directory */

@import "~/.config/rofi/colors/onedark.rasi"
