/* colors */

* {
  al:      #00000000;
  bg:      #101010ff;
  se:      #151515ff;
  fg:      #f5f5f5ff;
  ac:      #42A5F5ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
