/* colors */

* {
  al:      #00000000;
  bg:      #25344Bff;
  se:      #2A3950ff;
  fg:      #FEFFF1ff;
  ac:      #A162F7ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
