/* colors */

* {
  al:      #00000000;
  bg:      #425775ff;
  se:      #475C7Bff;
  fg:      #ffffffcc;
  ac:      #FDBB6Dff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
