/* colors */

* {
  al:      #00000000;
  bg:      #24334Aff;
  se:      #29384Fff;
  fg:      #FEFFF1ff;
  ac:      #3A6081ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
