/* colors */

* {
  al:      #00000000;
  bg:      #57678CFF;
  se:      #5E6C91ff;
  fg:      #FFFCFFff;
  ac:      #FF83A7ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
