/* colors */

* {
  al:      #00000000;
  bg:      #3E4667ff;
  se:      #434C6Dff;
  fg:      #FAF7CCff;
  ac:      #CA8CA5ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
