/* colors */

* {
  al:      #00000000;
  bg:      #ffffffff;
  se:      #f5f5f5ff;
  fg:      #000000ff;
  ac:      #2900D0ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
