/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1D1F28FF;
    background-alt: #282A36FF;
    foreground:     #FDFDFDFF;
    selected:       #79E6F3FF;
    active:         #5ADECDFF;
    urgent:         #F37F97FF;
}
